.project{
    transition: 1s all;
}
.project:hover .pro{
    display: block;
    left: 0;
    top: 0;
    z-index: 1;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.801);
    border-radius: .5rem;
}