.pro{
    transition: 1s all ease;
}
.project:hover .pro{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    background-color: #ffe071be;
}